#########################
#                       #
# IGUANA CONFIGURATION  #
#                       #
#########################

# default experiment settings
aim = branchcoverage
max_evaluations = 100000
seed = 1
input_specification_setup = default

# test object assimilation
display_system_commands = true
c_compiler_cleanup_extensions = obj exp lib

## requires dot - set to "none" if dot not installed, else dot, pdf, png, jpg, gif etc.
control_graph_image_type = none 

# misc
print_config = false